<!DOCTYPE html>
<html lang="en">
  <head>
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/9f24f09a-2979-4ff2-a617-6e008384bac3%2F6ft_icon%20(1).png?v=1604780268903" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Test Hackathon Project">

    <title>Welcome to Glitch!</title>

 
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://use.typekit.net/eoo0ksg.css">
    <link rel="stylesheet" href="/style.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/client.js" defer></script>
  </head>
  
  <body>
    <!-- WELCOME SCREEN -->
    <div id="welcome-screen" class="screen">
      <image src="https://cdn.glitch.com/9f24f09a-2979-4ff2-a617-6e008384bac3%2F6ft_icon%20(1).png?v=1604780268903"></image>
      <h1 id="welcome">
        Six Feet
      </h1>
      <h2 id="sub-welcome">
        your health companion app
      </h2>
      <button id="login-button" class="sixft-button">
        Login
      </button>
      <br>
      <button id="signup-button" class="sixft-button">
        Sign Up
      </button>
    </div>
    <!-- End of WELCOME SCREEN -->
    
    <!-- LOGIN SCREEN -->
    <div id="login-screen" class="screen">
      <h1 id="login-header">
        Login
      </h1>
      <div id="login-form">
        <div class="row">
          <span class="field">Email: </span><input id="login-email" type="text" class="field" autocomplete="off" placeholder="Enter your email">
        </div>
        
        <div class="row">
          <span class="field">Password: </span><input id="login-password" type="text" class="field" autocomplete="off" placeholder="Enter your password">
        </div>
      
      </div>
      <button id="submit-login-button" class="sixft-button">
        Login
      </button>
    </div>
    <!-- End of LOGIN SCREEN -->
    
    <!--  SIGNUP SCREEN -->
    <div id="signup-screen" class="screen">
      <h1 id="signup-header">
        Sign Up
      </h1>
      <div id="signup-form">
        <div class="row">
          <span class="field">Email: </span><input id="signup-email" type="text" class="field" autocomplete="off" placeholder="example@example.com">
        </div>
        
        <div class="row">
          <span class ="field">Display name: </span><input id="signup-display" type="text" class="field" autocomplete="off" placeholder="How other users will see you">
        </div>
        
        <div class="row">
          <span class ="field">Language: </span>
          <select id="signup-language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="zh">Chinese</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="ja">Japanese</option>
            <option value="it">Italian</option>
            <option value="sv">Swedish</option>
          </select>
        </div>
        
        <div class="row">
          <span class="field">Password: </span><input id="signup-password" type="text" class="field" autocomplete="off" placeholder="Enter a strong password">
        </div>
        
        <div class="row">
          <span class="field">Confirm password: </span><input id="signup-confirm" type="text" class ="field" autocomplete="off" placeholder="Confirm password">
        </div>
      </div>
      <button id="submit-signup-button" class="sixft-button">
          Sign Up
      </button>
    </div>
    <!-- End of SIGNUP SCREEN -->
    
    <!--- MAIN SCREEN --->
    <div id="main-screen" class ="screen">
      <div id="content">
        <div id="main-header">
          <div id="home-button">
            <img class="home-img" src="https://cdn.glitch.com/9f24f09a-2979-4ff2-a617-6e008384bac3%2F6ft_icon%20(1).png?v=1604780268903">
          </div>
          <div id="profile-button" class="regtext">
            Profile
          </div>
          <div id="friends-button" class="regtext">
            Friends
          </div>
          <div id="interactions-button" class="regtext">
            Interactions
          </div>
        </div>
        <div id="main-bottom">
          <div id="main-center-content">
            <!-- HOME PAGE -->
            <div id="home-page" class="page">
                <img id="big-green-button" src="https://cdn.glitch.com/9f24f09a-2979-4ff2-a617-6e008384bac3%2Fbig-green-button.png?v=1604785131273">
                <img id="big-red-button" src="https://cdn.glitch.com/9f24f09a-2979-4ff2-a617-6e008384bac3%2Fbig-red-button.png?v=1604784796237">
            </div>
            <!-- End of HOME PAGE -->
            
            <!-- PROFILE PAGE -->
            <div id="profile-page" class="page">
              <div id="profile-top">
                <img id="profile-img" src="https://cdn.glitch.com/9f24f09a-2979-4ff2-a617-6e008384bac3%2F6ft_icon%20(1).png?v=1604780268903">
                <p id="profile-user-display"></p>
              </div>
              <div class="row" style="align-items:center;">
                <span class="regtext">Email: </span><span class="regtext" id="profile-user-email"></span>
              </div>
              
              <div class="row" style="align-items:center;">
                <!-- LET USER CHANGE LANGUAGE -->
              <span class="regtext">Language: </span><span class="regtext" id="profile-user-language"></span>
              </div>
              
              <div class="row" style="align-items:center;">
                <span class="regtext">Status: </span><span class="regtext" id="profile-user-status"></span>
              </div>
              
            </div>
            <!-- End of PROFILE PAGE -->
            
            <!-- FRIEND PAGE -->
            <div id="friends-page" class="page">
              <div id="friends-left">
                <div id="friend-search-div">
                  <h1>
                    Find Friends
                  </h1> 
                  <input id="friend-search-text" class="field" type="text" autocomplete="off" placeholder="Search by email">
                  <br>
                  <button id="friend-search-button" class="sixft-button">
                    Add
                  </button>
                </div>
            
                <hr>
                
                <div id="friend-requests-div">
                  <div id="friend-request-content">
                    <h1>
                      Friend Requests
                    </h1>
                    <div class="friend-request">
                      <p class="friend-request-name">
                        Friend Name
                      </p>
                      <div class="row">
                        <button class="friend-request-accept-button">
                          Accept
                        </button>
                        <button class="friend-request-reject-button">
                          Reject
                        </button>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
              </div>
              <div id="friends-right">
                <h1>
                  Friend List
                </h1>
                <div id="friend-list-div">
                  <div class="friend">
                    <p>
                      Friend Name (Friend Email)
                    </p>
                    <div>
                      
                    </div>
                    <button>
                      ❌
                    </button>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <!-- End of FRIEND PAGE -->
            
            <!-- INTERACTIONS PAGE -->
            <div id="interactions-page" class="page">
                <div id="interactions-left">
                  <div id="log-interactions-div">
                    <h1 id="interactions-log-header" class="regtext">
                      Interactions log
                    </h1>
                    <h2>
                      Who did you interact with today?
                    </h2>
                    <select id="friend-interactions"></select>
                </div>
                <div id="interactinos-right">
                  <div id="interactions-history-div">
                    <h1 class="regtext">
                      Interactions history
                    </h1>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of INTERACTIONS PAGE -->
          </div>
        </div>
      </div>
      
    </div>
    <!-- End of MAIN SCREEN -->
  </body>
</html>
